
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 18rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--dark-color);
    border: .1rem solid var(--dark-color);
    background-color: var(--light-color);
    background-color: transparent;
    text-decoration: none;
}

.btn--green {
    background-color: var(--acid-color);
    border: .1rem solid var(--acid-color);
}

.btn:disabled { cursor: default;}