.custom-checkbox {
  position: relative;
}

.custom-checkbox__input:checked,
.custom-checkbox__input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custom-checkbox__input:checked+label,
.custom-checkbox__input:not(:checked)+label {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  cursor: pointer;
}

.custom-checkbox__input:checked+label::before,
.custom-checkbox__input:not(:checked)+label::before {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 1.6rem;
  width: 2.2rem;
  height: 2.2rem;
  flex-shrink: 0;
  border: .1rem solid #000;
  background-color: #fff;
  box-sizing: border-box;
}

.custom-checkbox__input:checked+label::after,
.custom-checkbox__input:not(:checked)+label::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.custom-checkbox__input:checked+label:after,
.custom-checkbox__input:not(:checked)+label:after {
  background-image: url('/img//icons/check.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #fff;
  border: .1rem solid #000;
}

.custom-checkbox__input:not(:checked)+label:after {
  opacity: 0;
}

.custom-checkbox__input:checked+label:after {
  opacity: 1;
}

/* =======RADIO======== */


.custom-checkbox__radio {
  position: absolute;
  left: -9999px;
}

.custom-checkbox__radio+label {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all .2s;
}

.custom-checkbox__radio+label::before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 1.6rem;
  width: 1.8rem;
  height: 1.8rem;
  border: .1rem solid #000;
  background-color: #fff;
  border-radius: 100%;
} 

.custom-checkbox__radio+label::after {
  content: "";
  position: absolute;
  top: .4rem;
  left: .4rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #fff;
}

.custom-checkbox__radio:not(:checked)+label:after {
  opacity: 0;
}

.custom-checkbox__radio:checked+label:after {
  opacity: 1;
}

.field-error .custom-checkbox__input:not(:checked)+label::before {
  border: .1rem solid #EE00FF;

}

.field-error .custom-checkbox__input:not(:checked)+label {
  color: #EE00FF;
}
