.dropdown__menu {
    position: relative;
    width: 8rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--dark-color);
}

.dropdown__menu:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparen;
}

.dropdown__menu.opened .dropdown__list {
    display: flex;
    flex-direction: column;
}

.dropdown__menu > img {
    width: 2rem;
    height: 2rem;
}

.dropdown__link {
    text-decoration: none;
}

.dropdown__list {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0, 3.9rem);
    display: none;
    background-color: #fff;
    box-shadow: 0 0.5rem 4rem rgba(59, 97, 113, 0.15);
    list-style: none;
    overflow: auto;
    opacity: 0;
    -webkit-animation: fadeIn 0.4s forwards;
    animation: fadeIn 0.4s forwards;
    border: .1rem solid var(--dark-color);
    border-top: 0;
}

.dropdown__list.to-top {
    top: auto;
    bottom: 0;
    transform: translate(0, -3.9rem);
    border-top: .1rem solid var(--dark-color);
    border-bottom: 0;
}

.dropdown__list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 4rem;
    border-bottom: .1rem solid var(--dark-color)
}

.dropdown__list li:last-of-type {
    border-bottom: 0;
}
